/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

@import 'blocks/_contact-map.less';

//
// Variables
//

@contact-lable__color: #969696;
@contact-button__box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
@contact-button__hover__box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

& when (@media-common = true) {
    .contact-index-index {
        .page-title-wrapper {
            display: none;
        }

        .fieldset {
            > .field {
                &.required {
                    > .label {
                        &:after {
                            display: none;
                        }
                    }
                }

                > .label {
                    .lib-css(color, @contact-lable__color);
                }
            }

            > .legend {
                .lib-font-size(16);
                .lib-line-height(20);
                .lib-css(font-weight, @font-weight__regular);
                .lib-css(margin-bottom, @indent__l);
                border-bottom: none;
                float: none;
                margin-top: 15px;
                padding-bottom: 0;
            }
        }

        .column {
            &.main {
                .footer-contact__links,
                .footer-info__small-logo {
                    display: none;
                }
            }
        }

        .form {
            &.contact {
                width: ~'calc(50% - 50px)';

                .actions-toolbar {
                    display: flex;
                    justify-content: flex-end;

                    .primary {
                        .action {
                            margin-right: 0;
                        }
                    }
                }

                .contact-comment {
                    height: 145px;
                    width: 100%;
                }
            }

            .fieldset {
                .lib-css(margin-bottom, @indent__base);
            }
        }

        .footer-contact {
            &__info {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    .contact-wrapper {
        display: flex;
        margin-bottom: 50px;

        .contact-info {
            padding-top: 60px;
        }

        .footer-info {
            text-align: left;
            width: 100%;
        }

        .footer-contact {
            &__info {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        .lib-css(margin-bottom, @indent__base);

                        &:nth-child(2) {
                            .lib-css(margin-bottom, @indent__l);
                            order: 3;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .contact-form-info {
        .label {
            .lib-font-size(13);
            .lib-css(margin-bottom, @indent__xs);
            color: @contact-lable__color;
            display: block;
        }
    }

    .contact-attached-file-label {
        .lib-button();
        .lib-css(background-color, @color-white);
        .lib-css(color, @primary__color);
        .lib-css(margin-right, @indent__base);
        border: none;
        box-shadow: @contact-button__box-shadow;

        &:focus {
            border: none;
            box-shadow: @contact-button__hover__box-shadow;
        }

        &:hover {
            border: none;
            box-shadow: @contact-button__hover__box-shadow;
        }
    }

    .contact-attached-file {
        display: none;
    }

    .lable-file {
        position: relative;
    }

    .input-file-count {
        .lib-font-size(10);
        .lib-line-height(16);
        .lib-css(background-color, @color-red10);
        .lib-css(color, @color-white);
        border-radius: 50%;
        display: none;
        height: 20px;
        left: -10px;
        padding-top: 2px;
        position: absolute;
        text-align: center;
        top: -10px;
        width: 20px;

        &.active {
            display: block;
        }
    }
}

//  Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }

        .fieldset {
            > .legend {
                .lib-css(margin-bottom, @indent__base);
            }
        }
    }

    .contact-wrapper {
        .lib-css(margin-bottom, @indent__xl);
        flex-direction: column;

        .contact-info {
            padding-top: 45px;
        }

        .footer-contact {
            margin-top: 0;

            &__info {
                ul {
                    li {
                        width: 100%;

                        &:nth-child(2) {
                            .lib-css(margin-bottom, @indent__m);
                        }
                    }
                }
            }

            &__contact {
                .lib-font-size(10);
                .lib-css(padding-left, @indent__l);

                &--phone {
                    margin-bottom: 0;
                    text-align: left;

                    &:before {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }

        .footer-info {
            &__address {
                .lib-font-size(10);
                max-width: 100%;
            }
        }
    }

    .contact-form-info {
        .field {
            &.email,
            &.name {
                .lib-css(margin-bottom, @indent__s);
            }
        }
    }

    .contact-attached-file-label {
        .lib-css(margin-right, @indent__s);
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .contact-index-index {
        .form {
            &.contact {
                min-width: 50%;
            }
        }

        .fieldset {
            .legend {
                margin-left: 0;
            }
        }

        .footer-contact {
            &__info {
                ul {
                    li {
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .contact-wrapper {
        display: flex;

        .contact-info {
            .lib-css(padding-left, @indent__xl);
            flex-grow: 1;
        }
    }

    .contact-form-info {
        .field {
            &.email,
            &.name {
                .lib-css(margin-bottom, @indent__s);
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .contact-index-index {
        .form {
            &.contact {
                width: 460px;
            }
        }

        .footer-contact {
            &__info {
                ul {
                    li {
                        &:last-child {
                            margin-left: 35px;
                        }
                    }
                }
            }
        }
    }

    .contact-wrapper {
        .contact-info {
            padding-left: 100px;
        }
    }

    .contact-form-info {
        .lib-css(margin-bottom, @indent__s);
        display: flex;
        justify-content: space-between;

        .field {
            &.email,
            &.name {
                margin-bottom: 0;
                width: ~'calc(50% - @{indent__xs})';
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .contact-index-index {
        .form {
            &.contact {
                width: 520px;
            }
        }
    }
}

