<div class="about-us__wrapper">
    <div class="about-us">
        <div class="about-us__content">
            <h2 class="about-us__subtitle">О магазине</h2>
            <h1 class="about-us__title">Интернет-магазин «Лофт Мебель»: купите хорошую мебель в один клик!</h1>
            <p class="about-us__description">
                Уникальный формат интернет-магазина позволит вам купить лучшую
                мебель крупнейших российских фабрик максимально быстро и по
                выгодной цене!
            </p>
            <p class="about-us__description">
                Мы благодарим за доверие более десятка производителей, которые дали
                нам возможность представлять лучшие образцы их продукции в
                российском интернет-пространстве. Прямые договоры на поставку
                мебели с фабрик обеспечивают наиболее привлекательные условия для
                наших покупателей.
            </p>
        </div>
        <div class="about-us__image-wrapper">
            <img src="{{media url='wysiwyg/about-us/about-us-sofa.png'}}" alt="" class="about-us__image">
        </div>
    </div>
</div>
<div class="about-us__inner">
    <div class="profit__wrapper">
        <h3 class="profit__title">Покупайте с выгодой!</h3>
        <div class="profit">
            <div class="profit__item">
                <div class="profit__image-wrapper">
                    <img src="{{media url='wysiwyg/about-us/profit-price.png'}}" alt="Цена" class="profit__image">
                </div>
                <div class="profit__content">
                    <h4 class="profit__subtitle">Лучшая цена</h4>
                    <p class="profit__description">
                        Предлагаем близкие к оптовым цены, которые дают возможность приобретать мебель дешевле, чем в розничных салонах и шоу-румах.
                    </p>
                </div>
            </div>
            <div class="profit__item">
                <div class="profit__image-wrapper">
                    <img src="{{media url='wysiwyg/about-us/profit-delivery.png'}}" alt="Доставка" class="profit__image">
                </div>
                <div class="profit__content">
                    <h4 class="profit__subtitle">Прямые поставки</h4>
                    <p class="profit__description">
                        С ведущих мебельных фабрик уменьшают срок выполнения вашего заказа, даже если речь идет об изготовлении предметов по индивидуальному проекту.
                    </p>
                </div>
            </div>
            <div class="profit__item">
                <div class="profit__image-wrapper">
                    <img src="{{media url='wysiwyg/about-us/profit-time.png'}}" alt="Экономие времени" class="profit__image">
                </div>
                <div class="profit__content">
                    <h4 class="profit__subtitle">Экономие времени</h4>
                    <p class="profit__description">
                        Не нашли оптимальный вариант или нет времени на поиски? Оставьте онлайн-заявку с критериями, и мы предложим вам несколько достойных образцов.
                    </p>
                </div>
            </div>
            <div class="profit__item">
                <div class="profit__image-wrapper">
                    <img src="{{media url='wysiwyg/about-us/profit-production.png'}}" alt="Изготовление на заказ" class="profit__image">
                </div>
                <div class="profit__content">
                    <h4 class="profit__subtitle">Изготовление на заказ</h4>
                    <p class="profit__description">
                        Принимаем заявки на изготовление мебели по персональному дизайн-проекту от покупателей из любой точки России. Просим быть готовыми к авансированной оплате персональных заказов.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dignity__wrapper">
    <div class="dignity">
        <div class="dignity__item">
            <h4 class="dignity__title">Самые «вкусные» предложения</h4>
            <p class="dignity__description">
                Мы делаем всё
                необходимое, чтобы покупатели получали доступ к актуальным новинкам, которые
                представляет российский мебельный рынок. Познакомиться с каждой моделью,
                сравнить цены на аналоги и выбрать лучшее вы можете прямо сейчас. Хотите
                первыми узнавать о самых выгодных предложениях? Тогда подписывайтесь на
                информационную рассылку!
            </p>
        </div>
        <div class="dignity__item">
            <h4 class="dignity__title">Гарантированное качество</h4>
            <p class="dignity__description">
                Вся продукция сопровождается
                гарантией производителя. В каталогах представлена только сертифицированная
                мебель. Собственный контроль качества тщательно проверяет каждый образец
                перед отправкой заказчику. Покупатели получают необходимые документы –
                гарантийный талон и чек.
            </p>
        </div>
        <div class="dignity__item">
            <h4 class="dignity__title">Впечатляющий ассортимент</h4>
            <p class="dignity__description">
                Ежедневно мы выбираем для
                наших каталогов идеальные образцы из товарной матрицы производителей по всей
                России. Модные расцветки, экологически безопасные материалы, надежные
                комплектующие – у нас вы найдете мебель своей мечты!                
            </p>
        </div>
    </div>
</div>
<div class="about-us__inner about-us__inner--padding-large">
    <div class="about-info">
        <div class="about-info__item about-info__item--coop">
            <h4 class="about-info__title">Особенные условия для оптовиков</h4>
            <p class="about-info__description">
                Число наших оптовых
                покупателей неуклонно возрастает и всё потому, что мы сумели предложить
                владельцам мебельных магазинов наиболее выгодные условия.
            </p>
        </div>
        <div class="about-info__item about-info__item--delivery-box">
            <h4 class="about-info__title">Оперативная доставка</h4>
            <p class="about-info__description">
                Собственная курьерская служба
                быстро привезет купленную мебель по указанному адресу. В российские регионы
                доставка осуществляется силами транспортных компаний.
            </p>
        </div>
        <div class="about-info__item about-info__item--support">
            <h4 class="about-info__title">Внимательный сервис</h4>
            <p class="about-info__description">
                Квалифицированные менеджеры
                интернет-магазина ответят на все вопросы по ассортименту и предоставляемым
                возможностям, а также помогут оформить заказ и проконтролируют реализацию
                клиентских пожеланий при заказе мебели.                
            </p>
        </div>
        <div class="about-info__item about-info__item--re">
            <h4 class="about-info__title">Каждый пятый покупатель заказывает у нас повторно!</h4>
            <p class="about-info__description">
                И мы благодарим всех, кто воспользовался нашим уникальным предложением, заказал мебель быстро и недорого и порекомендовал друзьям и знакомым.                
            </p>
        </div>
    </div>
</div>
<div class="about-us__inner">
    <div class="our-help__wrapper">
        <div class="our-help__title">Мы поможем сэкономить время, силы и деньги!</div>
        <div class="our-help">
            <div class="our-help__item">
                <h4 class="our-help__subtitle">Время.</h4>
                <p class="our-help__description">
                    Примем вашу заявку в кротчайшие сроки. При необходимости
                    подберем для вас достойные варианты по заданным критериям.
                </p>
            </div>
            <div class="our-help__item">
                <h4 class="our-help__subtitle">Силы.</h4>
                <p class="our-help__description">
                    Закупим оптом или закажем на фабрике, избавив от длительных
                    обсуждений заказа с исполнителем. Курируем все этапы работы над
                    заказом. 
                </p>
            </div>
            <div class="our-help__item">
                <h4 class="our-help__subtitle">Деньги.</h4>
                <p class="our-help__description">
                    Вы точно купите мебель дешевле, чем в розницу.
                </p>
            </div>
        </div>
        <h3 class="our-help__info">
            <div class="our-help__paragraph">
                На чем мы не экономим?
            </div>
            <div class="our-help__paragraph">
                На вашем комфорте и качестве мебели!
            </div>
        </h3>
    </div>
</div>