{{block class="Magento\Framework\View\Element\Template" template="Magento_Cms::init-slider.phtml"}}
<div class="home-slider__wrap swiper-outer">
    <div class="home-slider swiper-container">
        <div class="home-slider__inner swiper-wrapper">
            <div class="home-slider__item swiper-slide" style="background-image: url('{{media url='wysiwyg/homepage/test-slider.jpg'}}');">
                <div class="home-slider__content">
                    <h1 class="home-slider__title">
                        <span class="home-slider__paragraph">Loft</span>
                        <span class="home-slider__paragraph">мебель</span>
                    </h1>
                    <h2 class="home-slider__subtitle">Современная и удобная мебель в Анапе</h2>
                    <a href="#" class="home-slider__link-as-button">Смотреть каталог</a>
                </div>
            </div>
            <div class="home-slider__item swiper-slide" style="background-image: url('{{media url='wysiwyg/homepage/test-slider-2.jpg'}}');">
                <div class="home-slider__content">
                    <h1 class="home-slider__title home-slider__title--white">
                        <span class="home-slider__paragraph">Современная</span>
                        <span class="home-slider__paragraph">и удобная мебель</span>
                    </h1>
                    <h2 class="home-slider__subtitle">С доставкой по Краснодарскому краю</h2>
                    <a href="#" class="home-slider__link-as-button">Смотреть каталог</a>
                </div>
            </div>
            <div class="home-slider__item swiper-slide" style="background-image: url('{{media url='wysiwyg/homepage/test-slider.jpg'}}');">
                <div class="home-slider__content">
                    <h1 class="home-slider__title">
                        <span class="home-slider__paragraph">Loft</span>
                        <span class="home-slider__paragraph">мебель</span>
                    </h1>
                    <h2 class="home-slider__subtitle">Современная и удобная мебель в Анапе</h2>
                    <a href="#" class="home-slider__link-as-button">Смотреть каталог</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination home-slider-pagination"></div>
    </div>
    <div class="swiper-navigation hidden-xs hidden-sm">
        <div class="swiper-button-next home-slider-next"></div>
        <div class="swiper-button-prev home-slider-prev"></div>
    </div>
</div>
