// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    button {
        .lib-button();
        .lib-css(border-radius, @button__border-radius);
        max-width: 225px;
        transition: .4s;
        width: 100%;

        &.primary {
            .lib-button-primary();
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary,
    .action-primary {
        .lib-button-primary();
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        .lib-css(background-color, @color-gray40);
        .lib-css(border, 1px solid @color-gray40);
        .lib-css(color, @color-very-dark-gray);
    }
}
