/*
 * @copyright    Copyright (c) 2021.
 */

@import 'fontello/_fontello-icon-font.less';

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @icons__font-name,
        @font-path: @icons__font-path,
        @font-weight: normal,
        @font-style: normal
    );
    .lib-font-face(
        @family-name: @fontello-icons__font-name,
        @font-path: @fontello-icons__font-path,
        @font-weight: normal,
        @font-style: normal,
        @font-display: swap
    );

    .fontello-icon-delivery:before {
        content: '\e808';
    }
    .fontello-icon-phone:before {
        content: '\e811';
    }
    .fontello-icon-mini-cart:before {
        content: '\e801';
    }
    .fontello-icon-wishlist:before {
        content: '\e820';
    }
    .fontello-icon-profile:before {
        content: '\e812';
    }
    .fontello-icon-kitchen:before {
        content: '\e80b';
    }
    .fontello-icon-bedroom:before {
        content: '\e802';
    }
    .fontello-icon-livingroom:before {
        content: '\e80c';
    }
    .fontello-icon-closet:before {
        content: '\e805';
    }
    .fontello-icon-office:before {
        content: '\e810';
    }
    .fontello-icon-childrensroom:before {
        content: '\e803';
    }
    .fontello-icon-etc:before {
        content: '\e809';
    }
    .fontello-icon-discount:before {
        content: '\e81c';
    }
    .fontello-icon-mattress:before {
        content: '\e80e';
    }
    .fontello-icon-armchair:before {
        content: '\e800';
    }
    .fontello-icon-cupboard:before {
        content: '\e807';
    }
    .fontello-icon-at:before {
        content: '\e821';
    }
    .fontello-icon-home:before {
        content: '\e813';
    }
    .fontello-icon-info:before {
        content: '\e81d';
    }
    .fontello-icon-certificate:before {
        content: '\e822';
    }
    .fontello-icon-email:before {
        content: '\e824';
    }
    .fontello-icon-instagram:before {
        content: '\f16d';
    }
    .fontello-icon-filter:before {
        content: '\e818';
    }
    .fontello-icon-up:before {
        content: '\e817';
    }
    .fontello-icon-down2:before {
        content: '\e819';
    }
    .fontello-icon-arrow-left:before {
        content: '\e80d';
    }
    .fontello-icon-arrow-right:before {
        content: '\e80f';
    }
    .fontello-icon-support:before {
        content: '\e827';
    }
    .fontello-icon-re:before {
        content: '\e819';
    }
    .fontello-icon-coop:before {
        content: '\e806';
    }
    .fontello-icon-delivery-box:before {
        content: '\e828';
    }
    .fontello-icon-round-check:before {
        content: '\e81e';
    }
}