// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 145px;
@navigation__color-shadow: rgba(0, 0, 0, .1);
@navigation-item__active__color-shadow: rgba(215, 68, 68, .7);
@navigation-submenu__active__color-shadow: rgba(0,0,0,0.65) inset;
@nav-link__gradient: linear-gradient(90deg, #F1F1F1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);

        .navigation {
            .level0 {
                > .level-top {
                    .lib-vendor-prefix-display(flex);
                    .lib-css(color, @color-very-dark-gray);
                    .lib-css(font-weight, @font-weight__regular);
                    .lib-css(padding, 23px @indent__s 24px  @indent__base);
                    height: 70px;
                    transition: .4s;

                    > .ui-menu-icon {
                        .lib-css(color, @color-black);
                        .lib-css(margin-right, @indent__s);
                        height: 24px;
                        left: 0;
                        position: relative;

                        &:before {
                            left: 0;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                        }

                        &:after {
                            display: none;
                        }
                    }

                    &:after {
                        display: none;
                    }
                }

                &.nav-1 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-kitchen,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-2 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-bedroom,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-3 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-livingroom,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-4 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-closet,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-5 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-office,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-6 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-childrensroom,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                            }
                        }
                    }
                }

                &.nav-7 {
                    > .level-top {
                        .lib-css(color, @color-red10);

                        &:hover {
                            .lib-css(background-color, @color-red10);

                            > .ui-menu-icon {
                                .lib-css(color, @color-white);
                            }
                        }
                    }
                }

                &.nav-8 {
                    &.parent {
                        > .level-top {
                            .lib-font-size(0);

                            > .ui-menu-icon {
                                .lib-icon-font(
                                    @_icon-font-content: @fontello-icon-etc,
                                    @_icon-font-size: 22px,
                                    @_icon-font-line-height: 30px,
                                    @_icon-font: @fontello-icons__font-name,
                                    @_icon-font-position: before,
                                    @_icon-font-display: block
                                );
                                width: 100%;

                                &:before {
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }

                        .submenu {
                            .ui-menu-item {
                                &.first {
                                    .ui-corner-all {
                                        .lib-css(color, @color-red10);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-toggle {
        .lib-icon-font(
            @icon-menu,
            @_icon-font-size: 28px,
            @_icon-font-color: @header-icons-color,
            @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                position: relative;

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 42px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                position: relative;

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                );
            }
        }

        .switcher-dropdown {
            .lib-list-reset-styles();
            display: none;
            padding: @indent__s 0;
        }

        .switcher-options {
            &.active {
                .switcher-dropdown {
                    display: block;
                }
            }
        }

        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: .8rem @submenu__padding-left;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__bold;
                padding: .8rem @submenu__padding-left;
            }

            .header.links {
                border: 0;
            }
        }

        .navigation {
            .lib-css(background-color, @color-gray-light0);
            padding-top: 60px;
            position: relative;

            &:before {
                .lib-font-size(13);
                .lib-line-height(15);
                .lib-css(color, @color-very-dark-gray);
                .lib-css(font-weight, @font-weight__bold);
                content: 'Категории';
                left: 25px;
                position: absolute;
                top: 20px;
            }

            .level0 {
                border-top: none;

                &:last-child {
                    border-bottom: none;
                }

                > .level-top {
                    .lib-font-size(13);
                    .lib-line-height(15);
                    .lib-vendor-box-align(center);
                    .lib-vendor-prefix-justify-content(flex-start);
                    .lib-css(color, @color-gray34);
                    .lib-css(font-weight, @font-weight__regular);
                    height: auto;
                    padding: 16px 15px 15px 63px;
                    text-transform: initial;
                }

                &.parent {
                    > .level-top {
                        padding: 16px 15px 15px 63px;

                        > .ui-menu-icon {
                            left: 25px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
                    }
                }

                &.nav-1,
                &.nav-2,
                &.nav-3,
                &.nav-4,
                &.nav-5,
                &.nav-6,
                &.nav-8 {
                    &.parent {
                        > .level-top {
                            .lib-font-size(13);
                            .lib-line-height(15);

                            > .ui-menu-icon {
                                width: auto;

                                &:before {
                                    .lib-font-size(16);
                                    .lib-line-height(20);
                                    .lib-css(color, @color-gray34);
                                }
                            }
                        }
                    }
                }

                &.nav-7 {
                    > .level-top {
                        position: relative;

                        &:before {
                            .lib-url('images/header/discount-icon.svg');
                            background-image: url('@{url}');
                            background-repeat: no-repeat;
                            background-size: contain;
                            content: '';
                            height: 20px;
                            left: 25px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            width: 20px;
                        }
                    }
                }

                &.nav-8 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                &:before {
                                    left: 8px;
                                }
                            }
                        }
                    }

                    .category-item {
                        .ui-corner-all {
                            position: relative;

                            &:before {
                                left: 25px;
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                            }
                        }
                    }

                    .nav-8-2 {
                        .ui-corner-all {
                            &:before {
                                .lib-url('images/header/novelty-icon.svg');
                                background-image: url('@{url}');
                                background-repeat: no-repeat;
                                background-size: contain;
                                content: '';
                                height: 20px;
                                left: 25px;
                                position: absolute;
                                top: 50%;
                                transform: translate(0, -50%);
                                width: 20px;
                            }
                        }
                    }

                    .nav-8-3 {
                        .ui-corner-all {
                            .lib-icon-font(
                                @_icon-font-content: @fontello-icon-mattress,
                                @_icon-font-size: 16px,
                                @_icon-font-line-height: 20px,
                                @_icon-font: @fontello-icons__font-name,
                                @_icon-font-position: before,
                                @_icon-font-display: block
                            );
                        }
                    }

                    .nav-8-4 {
                        .ui-corner-all {
                            .lib-icon-font(
                                @_icon-font-content: @fontello-icon-armchair,
                                @_icon-font-size: 16px,
                                @_icon-font-line-height: 20px,
                                @_icon-font: @fontello-icons__font-name,
                                @_icon-font-position: before,
                                @_icon-font-display: block
                            );
                        }
                    }

                    .nav-8-5 {
                        .ui-corner-all {
                            .lib-icon-font(
                                @_icon-font-content: @fontello-icon-cupboard,
                                @_icon-font-size: 16px,
                                @_icon-font-line-height: 20px,
                                @_icon-font: @fontello-icons__font-name,
                                @_icon-font-position: before,
                                @_icon-font-display: block
                            );
                        }
                    }
                }
            }

            .submenu {
                background: @nav-link__gradient;
                box-shadow: 0px 8px 11px -12px @navigation-submenu__active__color-shadow;

                > li {
                    &.all-category {
                        .lib-font-size(13);
                        .lib-line-height(15);
                        .lib-css(color, @color-very-dark-gray);

                        .ui-state-focus {
                            .lib-css(font-weight, @font-weight__bold);
                            padding-left: 63px;
                        }
                    }

                    > a {
                        &.ui-corner-all {
                            .lib-font-size(13);
                            .lib-line-height(15);
                            .lib-css(color, @color-gray34);
                            .lib-css(font-weight, @font-weight__regular);
                            display: block;
                            padding-left: 63px;
                        }
                    }

                    &.first,
                    &.last {
                        display: none;
                    }
                }
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;

        &.section-items {
            .lib-css(background-color, @color-gray-light0);
            height: 100%;
            overflow-x: hidden;
        }
    }

    .nav-sections-item-title {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        .lib-css(padding-left, @indent__m);
        box-sizing: border-box;
        height: 58px;
        width: 100%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            .lib-font-size(13);
            .lib-line-height(15);
            .lib-css(font-weight, @font-weight__heavier);

            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        padding: 0;
        width: 100%;

        &.active {
            display: block;
        }

        .header-top {
            &__item {
                width: 100%;

                &:first-child {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-prefix-flex-direction(column);
                }

                &:last-child {
                    display: none;
                }
            }

            &__link {
                .lib-font-size(13);
                .lib-line-height(15);
                .lib-css(color, @color-gray34);
                display: block;
                margin-right: 0;
                padding: 16px 15px 15px 63px;
                position: relative;

                &:first-child {
                    .lib-css(font-weight, @font-weight__bold);
                    .lib-css(color, @color-very-dark-gray);
                    background: @nav-link__gradient;
                }

                &:before {
                    left: 25px;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }

                &.home {
                    .lib-icon-font(
                        @_icon-font-content: @fontello-icon-home,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font: @fontello-icons__font-name,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );
                }

                &.about {
                    .lib-icon-font(
                        @_icon-font-content: @fontello-icon-info,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font: @fontello-icons__font-name,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );
                }

                &.contacts {
                    .lib-icon-font(
                        @_icon-font-content: @fontello-icon-at,
                        @_icon-font-size: 16px,
                        @_icon-font-line-height: 20px,
                        @_icon-font: @fontello-icons__font-name,
                        @_icon-font-position: before,
                        @_icon-font-display: block
                    );
                }
            }
        }
    }

    .lib-main-navigation();
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: @indent__m;

        .navigation {
            .ui-menu {
                .lib-vendor-prefix-display(flex);
                box-shadow: 0 2px 4px @navigation__color-shadow;
            }

            .level0 {
                .lib-vendor-prefix-flex-grow(1);
                margin: 0;

                &.parent {
                    > .level-top {
                        .lib-font-size(14);
                        .lib-line-height(16);
                        .lib-vendor-prefix-display(flex);
                        .lib-vendor-box-align(center);
                        .lib-vendor-prefix-justify-content(center);

                        > .ui-menu-icon {
                            position: relative;

                            &:after {
                                display: none;
                            }
                        }
                    }
                }

                &.nav-1 {
                    &.parent {
                        > .level-top {
                            .lib-css(padding-left, @indent__m);

                            > .ui-menu-icon {
                                width: 24px;
                            }
                        }
                    }
                }

                &.nav-2 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                width: 29px;
                            }
                        }
                    }
                }

                &.nav-3 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                width: 31px;
                            }
                        }
                    }
                }

                &.nav-4 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                width: 23px;
                            }
                        }
                    }
                }

                &.nav-5 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                width: 23px;
                            }
                        }
                    }
                }

                &.nav-6 {
                    &.parent {
                        > .level-top {
                            > .ui-menu-icon {
                                width: 23px;
                            }
                        }
                    }
                }

                &.nav-8 {
                    &.parent {
                        > .level-top {
                            padding-left: 15px;
                            padding-right: 15px;

                            > .ui-menu-icon {
                                margin-right: 0;

                                &:before {
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }
                }

                &.nav-6,
                &.nav-7 {
                    display: none;
                }

                > .level-top {
                    .lib-font-size(16);
                    .lib-line-height(18);
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                    .lib-vendor-prefix-justify-content(center);
                    .lib-css(color, @color-very-dark-gray);
                    .lib-css(font-weight, @font-weight__regular);
                    height: 70px;
                    transition: .4s;
                    width: 100%;

                    &:hover {
                        .lib-css(background-color, @color-dark-green1);
                        .lib-css(color, @color-white);

                        > .ui-menu-icon {
                            .lib-css(color, @color-white);
                        }
                    }
                }

                &.active,
                &.has-active {

                    > .level-top {
                        .lib-vendor-prefix-display(flex);
                        .lib-css(box-shadow, 0px @indent__xs @indent__xs -@indent__xs @navigation-item__active__color-shadow);
                        border: none;
                    }
                }

                .submenu {
                    .lib-css(padding, @indent__m @indent__base 0 @indent__m);
                    border: none;
                    box-shadow: 0 2px 4px @navigation__color-shadow;
                    max-width: 190px;

                    li {
                        &:hover {
                            a,
                            a.ui-state-focus {
                                .lib-css(background-color, @color-white);
                            }
                        }
                    }

                    .ui-corner-all {
                        .lib-line-height(16);
                        .lib-css(background-color, @color-white);
                        .lib-css(color, @color-very-dark-gray);
                        .lib-css(margin-bottom, @indent__m);
                        display: inline-block;
                        padding: 0;
                        transition: .4s;

                        &:hover {
                            .lib-css(background-color, @color-white);
                            .lib-css(color, @color-dark-green1);
                        }

                        &.ui-state-focus {
                            &:hover {
                                .lib-css(background-color, @color-white);
                            }
                        }
                    }

                    .active {
                        .ui-corner-all {
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__tablet) {
    .nav-sections {
        .navigation {
            .level0 {
                &.parent {
                    > .level-top {
                        .lib-font-size(16);
                        .lib-line-height(18);
                        .lib-css(padding, 23px @indent__m 24px);
                    }
                }

                &.nav-1 {
                    &.parent {
                        > .level-top {
                            .lib-css(padding-left, @indent__xl);
                        }
                    }
                }

                &.nav-6,
                &.nav-7 {
                    display: inline-block;
                }

                &.nav-7 {
                    > .level-top {
                        .lib-css(padding-left, @indent__s);
                    }
                }

                &.nav-8 {
                    &.parent {
                        > .level-top {
                            .lib-font-size(0);
                            .lib-css(padding-left, @indent__xl);
                            .lib-css(padding-right, @indent__xl);
                        }

                        .submenu {
                            .ui-menu-item {
                                &.first,
                                &.last {
                                    .ui-corner-all {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}