/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Luma theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

//
//  Typography
//  ---------------------------------------------

//  Fonts
@icons__font-path: '@{baseDir}fonts/Luma-Icons';
@icons__font-name: 'luma-icons';
@font-family-name__base: 'Roboto';
@font-size-ratio__base: 1.4;
@font-size__m: ceil(1 * @font-size__base); // 14px
@font-size__s: ceil(.928 * @font-size__base); // 13px
@font-size__xs: ceil(.85 * @font-size__base); // 12px
@line-height__base: ceil(1 * @font-size__base); // 14px
@line-height__computed: 20px;

//  Colors
@color-black_dark: #313131;
@color-gray19: #3c3c3c;
@color-very-dark-gray: #414141;
@color-gray34: #686868;
@color-gray40: #9d9d9d;
@color-gray-light1: #e6e6e6;
@color-gray-light01: #f0f0f0;
@color-gray-light0: #f9f9f9;
@color-gray78: #f3f3f3;
@color-dark-green1: #245462;
@color-yellow1: #ffc107;
@color-red10: #d74444;
@color-blue-light: #d7e8ed;

//  Color nesting
@theme__color__primary: @color-very-dark-gray;
@primary__color__lighter: @color-gray40;
@theme__color__primary-alt: @color-gray40;
@primary__color: @color-very-dark-gray;

//  Headings
@h1__font-size: ceil(2 * @font-size__base); // 28px
@h1__font-size-desktop: @h1__font-size;
@h1__line-height: ceil(1.33 * @line-height__base); // 32px
@h1__margin-bottom__desktop: 0;
@h2__font-size: ceil(1.42 * @font-size__base); // 20px
@h2__line-height: ceil(1.166 * @line-height__base); // 28px
@h2__margin-top: 0;
@h3__font-size: ceil(1.142 * @font-size__base); // 16px
@h3__font-weight: @font-weight__heavier;
@h3__line-height: @line-height__base;
@h3__margin-top: 0;
@h4__font-size: @font-size__s; // 13px
@h4__line-height: ceil(.83 * @line-height__base); // 20px
@h4__font-weight: @font-weight__heavier;
@h4__margin-top: 0;

//
//  Indents
//  ---------------------------------------------

@indent__base: 20px;

//
//  Layout variables
//  _____________________________________________

//  Widths
@layout__max-width: 1190px;
@layout-indent__width: 25px;
@layout__width-xs-indent: 15px;

//  Text
@text__color: @color-very-dark-gray;

//  Links
@link__color: @color-very-dark-gray;
@link__hover__text-decoration: none;
@link__active__text-decoration: none;
@link__hover__color: @color-yellow1;

//  Focus
@focus__color: @color-yellow1;

//
//  Tables
//  ---------------------------------------------

@table-cell__padding-vertical: 11px;
@table-cell-stripped__background-color: @table-cell__hover__background-color;
@table-responsive-th__background-color: @table-cell-stripped__background-color;
@table-responsive-cell__padding: @indent__xs @indent__s;

//
//  Layout grid
//  ---------------------------------------------

@total-columns: 24;

//  Variables for layout columns
@layout-column__sidebar-width: 5;

//  Checkout columns width
@layout-column-checkout__width-left: 6;

//
//  Navigation
//  ---------------------------------------------

@navigation__background: @color-white;
@navigation-level0-item__active__color: @primary__color;

@submenu-item__active__color: @navigation-level0-item__active__color;

//  Desktop navigation
@navigation-desktop-level0-item__line-height: 47px;
@submenu-desktop__font-weight: @font-weight__regular;
@submenu-desktop-item__active__color: @navigation-level0-item__active__color;

//  Tabs
@tab-control__color: @color-gray43;
@tab-control__font-weight: @font-weight__regular;
@tab-control__height: @indent__base*2;
@tab-control__margin-right: -1px;
@tab-control__padding-top: 1px;
@tab-control__padding-right: 35px;

//  Tabs content
@tab-content__padding-top: 35px;
@tab-content__padding-right: @tab-control__padding-right;

//
//  Accordion
//  ---------------------------------------------

@accordion-control__font-family: false;
@accordion-control__font-size: @font-size__base;
@accordion-control__font-style: false;
@accordion-control__font-weight: @font-weight__semibold;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;
@accordion-control__background-color: false;
@accordion-control__color: @primary__color;
@accordion-control__hover__background-color: false;
@accordion-control__hover__color: @accordion-control__color;
@accordion-control__active__background-color: false;
@accordion-control__active__color: @accordion-control__color;
@accordion-control__margin-bottom: 0;
@accordion-control__padding-right: @indent__s;
@accordion-control__padding-left: @indent__s;
@accordion-content__border: false;
@accordion-content__margin: 0;
@accordion-content__padding: @indent__s @indent__s @indent__l;

//
//  Buttons
//  ---------------------------------------------

@button__font-size: @font-size__s;
@button__font-weight: @font-weight__regular;
@button__border-radius: none;
@button__shadow: none;
@button__padding: 13px @indent__base 12px;
@button__disabled__opacity: 1;

//  Default = secondary button
@button__background: @color-dark-green1;
@button__border: 1px solid @button__background;
@button__color: @color-white;
@button__active__color: @color-dark-green1;
@button__hover__color: @color-dark-green1;
@button__hover__background: @color-white;
@button__active__background: @color-white;
@button__hover__border: 1px solid @color-dark-green1;
@button__active__border: 1px solid @color-dark-green1;

//  Primary button
@button-primary__background: @color-dark-green1;
@button-primary__border: 1px solid @button-primary__background;
@button-primary__color: @color-white;
@button-primary__active__color: @color-dark-green1;
@button-primary__hover__color: @color-dark-green1;
@button-primary__hover__background: @color-white;
@button-primary__active__background: @color-white;
@button-primary__hover__border: 1px solid @color-dark-green1;
@button-primary__active__border: 1px solid @color-dark-green1;

//  Button with icon
@button-icon__line-height: @icon-font__line-height;

//
//  Icons
//  ---------------------------------------------

@icon-wishlist-empty: false;
@icon-comment-reflected: false;
@icon-compare-empty: false;
@icon-arrow-up-thin: false;
@icon-arrow-right-thin: false;
@icon-arrow-left-thin: false;
@icon-arrow-down-thin: false;
@icon-wishlist-empty: '\e601';

//
//  Messages
//  ---------------------------------------------

@message__font-size: @font-size__base;
@message__border-radius: 3px;
@message__padding: 12px @indent__base 12px @indent__m;
@message__line-height: false;
@message-icon__font-size: 19px;
@message-icon__font-line-height: @message-icon__font-size;
@message-icon__inner-padding-left: 50px;

//  Notice message
@message-notice-icon__top: 22px;

//
//  Loaders
//  ---------------------------------------------

@loader-overlay__background-color: rgba(255, 255, 255, .7);

//
//  Forms
//  ---------------------------------------------

@focus__box-shadow: none;
@form-element-validation__border-error: @color-red10;
@form-validation-note__color-error: @color-red10;

//  Input text
@input-text__border: none;
@input-text__focus__border: none;
@input-text__font-size: @font-size__s;
@input-text__border-radius: 0;
@input-text__height: 38px;
@input-text__padding: 12px;
@input-text-placeholder__color: @color-gray34;

//  Select
@select__background: @form-element-input__background url('../images/select-bg.svg') no-repeat 100% 45%;
@select__border: 1px solid @color-gray78;
@select__focus__border: 1px solid@color-gray34;
@select__font-size: @font-size__s;
@select__height: 38px;
@select__padding: 12px;

//  Textarea
@textarea__border: none;
@textarea__focus__border: none;
@textarea__font-size: @font-size__s;
@textarea__border-radius: 0;
@textarea__height: 38px;
@textarea__padding: 12px;
@textarea__placeholder__color: @color-gray34;

//  Form fieldset
@form-fieldset-legend__font-size: 18px;
@form-fieldset-legend__font-weight: @font-weight__light;
@form-fieldset-legend__margin: 0 0 @indent__base;
@form-fieldset-legend__padding: 0 0 @indent__s;
@form-fieldset-legend__width: 100%;

//  Form field
@form-field-type-revert: false;
@form-field__additional-vertical-indent: @indent__s;

//  Form field label
@form-field-label__font-weight: @font-weight__semibold;
@form-field-type-label-block__margin: 0 0 8px;

//  Form field note icon
@form-field-note-icon-font__content: false;

//  Form field label
@form-field-label__color: @color-gray40;
@form-field-label__font-size: @font-size__s;
@form-field-label__font-weight: @font-weight__regular;
@form-field-type-label-block__margin: 0 0 @indent__xs;

//  Form field note icon
@form-field-note-icon-font__content: false;

//  Placeholder
@form-element-input-placeholder__color: @color-gray34;

//
//  Pager
//  ---------------------------------------------

@pager__font-weight: @font-weight__regular;
@pager__line-height: @indent__l;
@pager-item__margin: 0 8px 0 0;
@pager-item__padding: 0 @indent__xs;

//  Pager current page
@pager-current__color: @color-white;
@pager-current__background: @color-gray34;
@pager-current__font-weight: @font-weight__regular;

//  Pager link.action
@pager-icon__font-margin: 0;
@pager-icon__font-size: @font-size__s;
@pager__color: @color-very-dark-gray;

//
//  Rating
//  ---------------------------------------------

@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;

//
//  Dropdowns
//  ---------------------------------------------

@dropdown-toggle-icon__content: @icon-down;
@dropdown-toggle-icon__active__content: @icon-up;
@dropdown-toggle-icon__font-size: 12px;

//  Split dropdown
@dropdown-split-actions__padding: 0 @indent__xs;
@dropdown-split-toggle__actions__padding: false;

//  Actions-toolbar
@actions-toolbar-actions__position: left;
@actions-toolbar-actions-primary__margin: 0 15px 0 0;

//
//  Breadcrumbs
//  ---------------------------------------------

@breadcrumbs__container-margin: @indent__xs 0 @indent__l;
@breadcrumbs-icon__font-size: 10px;
@breadcrumbs-icon__font-margin: 0 @indent__s;

@breadcrumbs-current__color: @color-gray-middle5;
@breadcrumbs-link__color: @link__color;
@breadcrumbs-link__visited__color: @breadcrumbs-link__color;
@breadcrumbs-link__hover__color: @breadcrumbs-link__color;
@breadcrumbs-link__active__color: @breadcrumbs-link__color;

//
//  Popups
//  ---------------------------------------------

@popup__border: 1px solid @color-gray68;
@popup-title-headings__level: h2;

//  Popup icons
@popup-icon-font__size: 16px;
@popup-icon-font__line-height: 16px;
@popup-icon-font__color: @color-gray55;
@popup-icon-font__color-hover: darken(@popup-icon-font__color, 10%);
@popup-icon-font__color-active: @popup-icon-font__color-hover;

//  Window overlay
@overlay__background: @color-gray55;
@overlay__opacity: .7;
@overlay__opacity-old: 70;

@gallery-thumb-border-color-active: @active__color;

//  Checkout tooltip icon
@checkout-tooltip-icon__font-size: 21px;

//  Checkout Payment Option icon
@checkout-payment-option-title-icon__font-size: 14px;
@checkout-payment-option-title-icon__line-height: 16px;
@checkout-payment-option-title-icon__margin: 0 0 0 @indent__s;

//  Checkout Sidebar Shipping Information
@checkout-sidebar-shipping-information-edit-icon__content: @icon-edit;
@checkout-sidebar-shipping-information-edit-icon__font-size: 18px;
@checkout-sidebar-shipping-information-edit-icon__line-height: 20px;
@checkout-sidebar-shipping-information-edit-icon__top: @indent__s;

//  Checkout
@checkout-sidebar__columns: 8;

//
//  Footer
//  ---------------------------------------------

@copyright__background-color: @color-white;
