/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/regular/Roboto-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/regular/Roboto-Medium',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/bold/Roboto-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__base,
        @font-path: '@{baseDir}fonts/roboto/black/Roboto-Black',
        @font-weight: 900,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/roboto-condensed/regular/RobotoCondensed-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__secondary,
        @font-path: '@{baseDir}fonts/roboto-condensed/bold/RobotoCondensed-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__additional,
        @font-path: '@{baseDir}fonts/roboto-condensed/regular/PlayfairDisplay-Regular',
        @font-weight: 400,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__additional,
        @font-path: '@{baseDir}fonts/roboto-condensed/medium/PlayfairDisplay-Medium',
        @font-weight: 500,
        @font-style: normal,
        @font-display: swap
    );

    .lib-font-face(
        @family-name: @font-family-name__additional,
        @font-path: '@{baseDir}fonts/roboto-condensed/bold/PlayfairDisplay-Bold',
        @font-weight: 700,
        @font-style: normal,
        @font-display: swap
    );

    .items {
        .lib-list-reset-styles();
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    h1 {
        .lib-css(font-size, @h1__font-size-desktop);
        .lib-css(margin-bottom, @h1__margin-bottom__desktop);
    }
}
