/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Roboto';
@font-family-name__secondary: 'Roboto Condensed';
@font-family-name__additional: 'Playfair Display';
@font-family__base: @font-family-name__base, @font-family__sans-serif;
@font-family__secondary: @font-family-name__secondary, @font-family__sans-serif;
@font-family__additional: @font-family-name__additional,@font-family__serif;
@fontello-icons__font-name: 'fontello-icon-font';
@fontello-icons__font-path: '@{baseDir}fonts/fontello/fontello';

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;

//
//  Buttons
//  ---------------------------------------------


//
//  Fontello
//  _____________________________________________

@fontello-icon-delivery: '\e808';
@fontello-icon-phone: '\e811';
@fontello-icon-mini-cart: '\e801';
@fontello-icon-wishlist: '\e820';
@fontello-icon-profile: '\e812';
@fontello-icon-kitchen: '\e80b';
@fontello-icon-bedroom: '\e802';
@fontello-icon-livingroom: '\e80c';
@fontello-icon-closet: '\e805';
@fontello-icon-office: '\e810';
@fontello-icon-childrensroom: '\e803';
@fontello-icon-etc: '\e809';
@fontello-icon-discount: '\e81c';
@fontello-icon-mattress: '\e80e';
@fontello-icon-armchair: '\e800';
@fontello-icon-cupboard: '\e807';
@fontello-icon-at: '\e821';
@fontello-icon-home: '\e813';
@fontello-icon-info: '\e81d';
@fontello-icon-certificate: '\e822';
@fontello-icon-email: '\e824';
@fontello-icon-instagram: '\f16d';
@fontello-icon-filter: '\e818';
@fontello-icon-up: '\e817';
@fontello-icon-down2: '\e819';
@fontello-icon-arrow-left: '\e80d';
@fontello-icon-arrow-right: '\e80f';
@fontello-icon-support: '\e827';
@fontello-icon-re: '\e826';
@fontello-icon-coop: '\e806';
@fontello-icon-delivery-box: '\e828';
@fontello-icon-round-check: '\e81e';

//
//  Responsive variables
//  _____________________________________________

@screen__tablet: 1280px;
@screen__notebook: 1366px;