/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

@swiper-nav-size: 30px;
@swiper-nav-bg: rgba(255, 255, 255, 0.28);
@swiper-nav-box-shadow: 0 1px 3px 3px rgba(7, 43, 56, .05);
@swiper-nav-box-shadow-hover: 0 1px 3px 3px rgba(7, 43, 56, .1);


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .swiper-button-prev {
        .lib-icon-font(
            @fontello-icon-arrow-left,
            @_icon-font: @fontello-icons__font-name,
            @_icon-font-size: 16px,
            @_icon-font-line-height: 16px,
            @_icon-font-color: @color-gray34,
            @_icon-font-color-hover: @color-gray34,
            @_icon-font-color-active: @color-gray34,
            @_icon-font-display: none
        );
        left: 0;
        right: auto;
    }

    .swiper-button-next {
        .lib-icon-font(
            @fontello-icon-arrow-right,
            @_icon-font: @fontello-icons__font-name,
            @_icon-font-size: 16px,
            @_icon-font-line-height: 16px,
            @_icon-font-color: @color-gray34,
            @_icon-font-color-hover: @color-gray34,
            @_icon-font-color-active: @color-gray34,
            @_icon-font-display: none
        );
        left: auto;
        right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-box-align(center);
        .lib-vendor-prefix-justify-content(center);
        .lib-css(background-color, @color-white);
        cursor: pointer;
        display: none;
        height: @swiper-nav-size;
        position: absolute;
        transition: .2s;
        width: @swiper-nav-size;
        z-index: 1;

        &:hover {
            .lib-css(background-color, @color-white);
            box-shadow: @swiper-nav-box-shadow-hover;

            &:before {
                .lib-css(color, @color-very-dark-gray) !important;
            }
        }

        &:focus {
            &:before {
                .lib-css(color, @color-very-dark-gray) !important;
            }
        }

        &.swiper-button-initialized {
            .lib-vendor-prefix-display(flex);
        }

        &.swiper-button-disabled {
            .lib-css(color, @color-white) ;
            background-color: @swiper-nav-bg;
            cursor: not-allowed;
        }
    }

    .swiper-button-lock {
        display: none;
    }
}

//
//  TMobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .swiper-navigation {
        display: none;
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .swiper-button-next {
        bottom: 15px;
        right: 40px;
    }

    .swiper-button-prev {
        bottom: 15px;
        left: auto;
        right: 72px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__tablet) {
    .swiper-button-next {
        bottom: auto;
        right: 45px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .swiper-button-prev {
        bottom: auto;
        left: 45px;
        top: 50%;
        transform: translate(0, -50%);
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .swiper-button-next {
        right: 30px;
    }

    .swiper-button-prev {
        left: 30px;
    }
}