/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .swiper-pagination {
        text-align: center;
        transform: translate3d(0, 0, 0);
        transition: 300ms opacity;
        width: 100%;
        z-index: 10;

        &.swiper-pagination-hidden {
            opacity: 0;
        }
    }

    .swiper-pagination-bullet {
        .lib-css(background-color, @color-white);
        .lib-css(border, 1px solid @text__color);
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        transition: .2s;
        width: 8px;

        &:hover {
            .lib-css(background-color, @color-gray95);
        }

        button & {
            appearance: none;
            border: none;
            box-shadow: none;
            margin: 0;
            padding: 0;
        }

        .swiper-pagination-clickable & {
            cursor: pointer;
        }
    }

    .swiper-pagination-bullet-active {
        .lib-css(background-color, @text__color);

        &:hover {
            .lib-css(background-color, @text__color);
        }
    }

    .swiper-container-horizontal {
        > .swiper-pagination-bullets {
            margin-top: 24px;

            .swiper-pagination-bullet {
                .lib-css(margin, 0 @indent__s);
            }
        }
    }

    .swiper-pagination-lock {
        display: none;
    }
}
