/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .swiper-scrollbar {
        .lib-css(background-color, @color-gray89);
        border-radius: 2px;
        position: relative;
        -ms-touch-action: none;

        .swiper-container-horizontal > & {
            height: 5px;
            left: 0;
            margin-top: 15px;
            width: 100%;
            z-index: 50;
        }
    }

    .swiper-scrollbar-drag {
        .lib-css(background-color, @primary__color);
        border-radius: 2px;
        height: 100%;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }

    .swiper-scrollbar-cursor-drag {
        cursor: move;
    }

    .swiper-scrollbar-lock {
        display: none;
    }
}