<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php if (!$block->getCategory()) {
    return;
} ?>
<?php $_categories = $block->getCurrentChildCategories() ;?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count) :?>
    <div class="block filter">
        <div class="title">
            <strong><?= $block->escapeHtml(__('Фильтр')) ?></strong>
        </div>
        <div class="content">
            <strong class="subtitle"><?= $block->escapeHtml(__('Раздел')) ?></strong>
            <dl class="options" id="narrow-by-list2">
                <dt class="category-filter-title"><?= $block->escapeHtml(__('Раздел')) ?></dt>
                <dd class="category-filter-content">
                    <ol class="items">
                        <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
                        <?php foreach ($_categories as $_category) :?>
                            <?php if ($_category->getIsActive()) :?>
                                <li class="item">
                                    <a class="category-filter-link" href="<?= $block->escapeUrl($block->getCategoryUrl($_category)) ?>"
                                        <?php if ($block->isCategoryActive($_category)) :?>
                                            class="current"
                                        <?php endif; ?>
                                    >
                                    <span><?= $block->escapeHtml($_category->getName()) ?></span>
                                    <span class="count"><?= $block->escapeHtml($_category->getProductCount()) ?></span>
                                    </a>
                                </li>
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
<?php endif; ?>
