/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header {
        &.content {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);

            .logo {
                .lib-vendor-prefix-display(flex);
                margin: 0;
                max-width: 113px;
            }

            .minicart-wrapper {
                .action {
                    &.showcart {
                        .lib-icon-font(
                            @_icon-font-content: @fontello-icon-mini-cart,
                            @_icon-font-size: 20px,
                            @_icon-font-line-height: 20px,
                            @_icon-font: @fontello-icons__font-name,
                            @_icon-font-position: before,
                            @_icon-font-display: block
                        );
                        display: inline-block;
                        float: none;
                        height: 18px;
                        position: relative;
                        width: 15px;

                        &:before {
                            .lib-css(color, @color-black);
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            .block-search {
                .lib-css(margin-left, @indent__xl);
                float: none;
                padding-left: 0;
                width: 100%;

                .block-content {
                    .control {
                        position: relative;

                        &:before {
                            .lib-url('images/header/search-icon.svg');
                            background-image: url('@{url}');
                            background-repeat: no-repeat;
                            background-size: contain;
                            content: '';
                            height: 14px;
                            left: 15px;
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            width: 14px;
                            z-index: 2;
                        }
                    }
                }

                input {
                    .lib-font-size(14);
                    .lib-line-height(16);
                    .lib-css(padding-right, @indent__base);
                    height: 50px;
                    padding-left: 50px;
                }
            }
        }

        &.panel {
            > .header {
                &.links {
                    display: none;
                }
            }
        }

        &.links {
            .lib-vendor-prefix-display(flex);
            .lib-css(margin-left, @indent__xl);
            list-style: none;
            margin-bottom: 0;
            padding-left: 0;

            // button account
            > li {
                margin-bottom: 0;

                &:first-child {
                    .lib-vendor-prefix-order(4);

                    > a {
                        .lib-icon-font(
                            @_icon-font-content: @fontello-icon-profile,
                            @_icon-font-size: 22px,
                            @_icon-font-line-height: 20px,
                            @_icon-font: @fontello-icons__font-name,
                            @_icon-font-position: before,
                            @_icon-font-display: block
                        );
                        .lib-font-size(0);
                        float: none;
                        height: 17px;
                        position: relative;
                        width: 20px;

                        &:before {
                            .lib-url('images/header/profile-icon.svg');
                            background-image: url('@{url}');
                            background-repeat: no-repeat;
                            background-size: contain;
                            content: '';
                            height: 22px;
                            left: 50%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 20px;
                        }
                    }
                }

                > a {
                    .lib-vendor-prefix-display(flex);
                    .lib-vendor-box-align(center);
                }
            }

            .link {
                &.authorization-link {
                    display: none;
                }
            }

            .minicart-wrapper {
                .lib-css(margin-left, @indent__l);
                .lib-css(margin-right, @indent__l);
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .panel {
        &.wrapper {
            display: none;
        }
    }

    .header {
        &.content {
            .lib-vendor-prefix-flex-wrap(wrap);
            .lib-css(padding-top, @indent__l);
            padding-bottom: 15px;

            .minicart-wrapper {
                margin-top: 0;
            }

            .block-search {
                .lib-vendor-prefix-order(5);
                margin-left: 0;
                margin-top: 15px;

                .label {
                    display: none;
                }

                .control {
                    border: none;
                    height: 40px;
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;

                    input {
                        .lib-css(background-color, @color-gray-light0);
                        border: none;
                        height: 40px;
                        left: 0;
                        margin: 0;
                        position: relative;
                    }
                }
            }

            .logo {
                .lib-css(margin-left, @indent__m);
            }

            .action {
                &.nav-toggle {
                    display: block;
                    height: 11px;
                    left: initial;
                    position: relative;
                    top: initial;
                    width: 20px;

                    &:before {
                        .lib-url('images/header/menu-icon.svg');
                        background-image: url('@{url}');
                        background-repeat: no-repeat;
                        background-size: contain;
                        content: '';
                        height: 14px;
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 20px;
                    }
                }
            }
        }

        &.links {
            margin-left: auto;
        }
    }

    .page-header {
        border-bottom: none;
        margin-bottom: 0;
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-header {
        .panel {
            &.wrapper {
                .lib-css(background-color, @color-black_dark);
            }
        }

        .header {
            &.content {
                .lib-css(padding, @indent__base @indent__m);
            }
        }
    }
}