<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Contact\Block\ContactForm $block */
/** @var \Magento\Contact\ViewModel\UserDataProvider $viewModel */

$viewModel = $block->getViewModel();
?>
<div class="contact-wrapper">
<form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{},
                       "counter-for-files":{}}'>
    <fieldset class="fieldset">
        <div class="legend"><span><?= $block->escapeHtml(__('Свяжитесь с нами')) ?></span></div>
        <div class="contact-form-info">
            <div class="field name required">
                <label class="label" for="name"><span><?= $block->escapeHtml(__('Ваше имя')) ?></span></label>
                <div class="control">
                    <input name="name"
                        id="name"
                        title="<?= $block->escapeHtmlAttr(__('Name')) ?>"
                        value="<?= $block->escapeHtmlAttr($viewModel->getUserName()) ?>"
                        class="input-text"
                        type="text"
                        data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field email required">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Ваш e-mail')) ?></span></label>
                <div class="control">
                    <input name="email"
                        id="email"
                        title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                        value="<?= $block->escapeHtmlAttr($viewModel->getUserEmail()) ?>"
                        class="input-text"
                        type="email"
                        data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
        </div>
        <div class="field comment required">
            <label class="label" for="comment">
                <span><?= $block->escapeHtml(__('Сообщение')) ?></span>
            </label>
            <div class="control">
                <textarea name="comment"
                          id="comment"
                          title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>"
                          class="input-text contact-comment"
                          data-validate="{required:true}"
                ><?= $block->escapeHtml($viewModel->getUserComment()) ?></textarea>
            </div>
        </div>
        <?= $block->getChildHtml('form.additional.info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="contact-file-wrapper">
            <label class="contact-attached-file-label lable-file" for="contact-attached-file" >
                Прикрепить файл<span class="input-file-count"></span>
            </label>
            <input type="file" class="contact-attached-file input-file" id="contact-attached-file" multiple>
        </div>
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Отправить')) ?></span>
            </button>
        </div>
    </div>
</form>
<div class="contact-info">
<?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-contact')->toHtml(); ?>
<?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-info')->toHtml(); ?>
</div>
</div>
<div class="contact-map">
    <div class="contact-map__title">Адрес нашей компании</div>
    <div class="contact-map__inner">
        <iframe class="contact-map__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2826.2143172804954!2d37.352520915538484!3d44.89863577909835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ee0b708197c8b5%3A0x92571820e3e8237b!2sZhk%20Chernoye%20More!5e0!3m2!1suk!2sua!4v1629101295084!5m2!1suk!2sua" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Customer/js/block-submit-on-send": {
                "formId": "contact-form"
            }
        }
    }
</script>
