/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .footer-contact {
        .lib-css(margin-top, @indent__l);
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__info {
            display: flex;
        }

        &__link {
            .lib-css(margin-right, @indent__l);

            &:last-child {
                margin-right: 0;
            }

            &--red {
                .lib-css(color, @color-red10);
            }
        }

        &__contact {
            .lib-css(margin-left, @indent__l);
            .lib-css(padding-left, @indent__m);
            position: relative;

            &:first-child {
                margin-left: 0;
            }

            &:before {
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }

            &--phone {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-phone,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );
            }

            &--insta {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-instagram,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );
            }

            &--email {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-email,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer-contact {
        &__links {
            display: none;
        }

        &__info {
            flex-wrap: wrap;
        }

        &__contact {
            margin-left: 0;
            padding-left: 23px;

            &--phone {
                .lib-css(margin-bottom, @indent__s);
                display: block;
                text-align: right;
                width: 100%;

                &:before {
                    left: auto;
                    right: 115px;
                }
            }

            &--insta {
                flex-grow: 1;
            }
        }
    }
}