/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .footer-info {
        text-align: right;
        width: 180px;

        &__small-logo {
            .lib-font-size(42);
            .lib-line-height(50);
            .lib-css(color, @color-black);
            .lib-css(font-weight, @font-weight__heavy);
            .lib-css(margin-bottom, @indent__base);
        }

        &__address {
            .lib-line-height(18);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer-info {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__small-logo {
            .lib-font-size(36);
            .lib-line-height(40);
            .lib-css(color, @color-black);
            .lib-css(margin-bottom, @indent__xs);
        }

        &__address {
            max-width: 185px;
            width: 100%;
        }
    }
}