/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .footer-links {
        width: ~'calc((2 / 3) * 100%)';

        &__title {
            .lib-font-size(14);
            .lib-line-height(18);
            .lib-css(font-weight, @font-weight__semibold);
            .lib-css(margin-bottom, @indent__s);
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding-left: 0;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding-right: 50px;

            &:last-child {
                padding-right: 0;
            }
        }

        &__link {
            .lib-font-size(14);
            .lib-line-height(18);
            margin-bottom: 7px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .footer-links {
        display: none;
    }
}