/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header-top {
        &__wrapper {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-justify-content(space-between);
        }

        &__item {
            .lib-vendor-prefix-display(flex);
        }

        &__link {
            .lib-font-size(14);
            .lib-line-height(16);
            .lib-css(color, @color-white);
            .lib-css(margin-right, @indent__l);

            &:focus {
                .lib-css(color, @color-yellow1);
            }

            &:visited {
                .lib-css(color, @color-white);
            }

            &:hover {
                .lib-css(color, @color-yellow1);
            }

            &:last-child {
                margin-right: 0;
            }

            &--delivery {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-delivery,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );
                .lib-css(padding-left, @indent__xl);
                position: relative;

                &:before {
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }

            &--phone {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-phone,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: before,
                    @_icon-font-display: block
                );
                .lib-css(padding-left, @indent__l);
                position: relative;

                &:before {
                    left: 0;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }
}