/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .nav-mobile {
        &__wrapper {
            .lib-css(margin-bottom, @indent__s);
            .lib-css(padding-left, @layout__width-xs-indent);
            .lib-css(padding-right, @layout__width-xs-indent);
        }

        &__list {
            .lib-vendor-prefix-display(flex);
            .lib-css(padding-bottom, @indent__s);
            list-style: none;
            margin-bottom: 0;
            overflow-x: scroll;
            padding-left: 0;
        }

        &__item {
            display: block;
            margin-bottom: 0;
            margin-right: 7px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
            .lib-vendor-box-align(center);
        }

        &__icon {
            .lib-css(margin-bottom, @indent__xs);
            box-shadow: 0 2px 4px @navigation__color-shadow;
            display: block;
            height: 50px;
            position: relative;
            width: 50px;

            &:before {
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__category {
            .lib-font-size(9);
            .lib-line-height(11);
            text-align: center;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-mobile {
        &__wrapper {
            display: none;
        }
    }
}