/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

@import './swiper/_navigation.less';
@import './swiper/_pagination.less';
@import './swiper/_scrollbar.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .swiper-container {
        height: 100%;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 100%;
        z-index: 1; /* Fix of Webkit flickering */

        &.swiper-container-initialized {
            & + .loading-mask {
                display: none;
            }
        }
    }

    .swiper-container-vertical > .swiper-wrapper {
        .lib-vendor-prefix-flex-direction(column);
    }

    .swiper-wrapper {
        .lib-vendor-prefix-display(flex);
        box-sizing: content-box;
        height: 100%;
        position: relative;
        transition-property: transform;
        width: 100%;
        z-index: 1;
    }

    .swiper-container-android .swiper-slide,
    .swiper-wrapper {
        transform: translate3d(0, 0, 0);
    }

    .swiper-container-multirow > .swiper-wrapper {
        .lib-vendor-prefix-flex-wrap(wrap);
    }

    .swiper-container-multirow-column > .swiper-wrapper {
        .lib-vendor-prefix-flex-wrap(wrap);
        .lib-vendor-prefix-flex-direction(column);
    }

    .swiper-container-free-mode > .swiper-wrapper {
        margin: 0 auto;
        transition-timing-function: ease-out;
    }

    .swiper-container-pointer-events {
        touch-action: pan-y;

        &.swiper-container-vertical {
            touch-action: pan-x;
        }
    }

    .swiper-slide {
        .lib-vendor-prefix-flex-shrink(0);
        height: 100%;
        position: relative;
        transition-property: all;
        width: 100%;
    }

    .swiper-slide-invisible-blank {
        visibility: hidden;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .swiper-outer {
        .lib-css(padding, 0 @indent__m);

        &.no-padding {
            padding: 0;
        }
    }
}

//
//  Desktop extra large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .swiper-outer {
        padding: 0;
    }
}