/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

@import 'blocks/_about-info.less';
@import 'blocks/_about-us.less';
@import 'blocks/_dignity.less';
@import 'blocks/_home-slider.less';
@import 'blocks/_our-help.less';
@import 'blocks/_profit.less';

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-slider-pagination {
        display: none;
    }

    .cms-about-us {
        .page-title-wrapper {
            display: none;
        }
    }
}