    <div class="footer-info">
        <a href="{{store direct_url=''}}" class="footer-info__small-logo" title="LM">LM</a>
        <div class="footer-info__address">г. Анапа, Анапское шоссе, 30 Ж/К Черное море</div>
    </div>