<div class="footer-links">
    <div class="footer-links__title">Навигация</div>
    <div class="footer-links__content">
        <ul class="footer-links__list">
            <li class="footer-links__item">
                <a href="{{store direct_url='what-is-new.html'}}" class="footer-links__link" title="Кухни">Кухни</a>
                <a href="{{store direct_url='women.html'}}" class="footer-links__link" title="Спальни">Спальни</a>
                <a href="{{store direct_url='men.html'}}" class="footer-links__link" title="Гостинные">Гостинные</a>
            </li>
            <li class="footer-links__item">
                <a href="{{store direct_url='gear.html'}}" class="footer-links__link" title="Прихожие">Прихожие</a>
                <a href="{{store direct_url='collections.html'}}" class="footer-links__link" title="Офисная мебель">Офисная мебель</a>
                <a href="{{store direct_url='training.html'}}" class="footer-links__link" title="Детская">Детская</a>
            </li>
            <li class="footer-links__item">
                <a href="#" class="footer-links__link" title="Шкафы">Шкафы</a>
                <a href="#" class="footer-links__link" title="Матрасы">Матрасы</a>
                <a href="#" class="footer-links__link" title="Мягкая мебель">Мягкая мебель</a>
            </li>
        </ul>
    </div>
</div>
