<div class="footer-contact">
    <div class="footer-contact__links">
        <a href="{{store direct_url='promotions.html'}}" class="footer-contact__link footer-contact--red" title="Акция">Акция</a>
        <a href="{{store direct_url='sale/novinki.htm'}}" class="footer-contact__link" title="Новинки">Новинки</a>
    </div>
    <div class="footer-contact__info">
        <ul>
            <li>
                <a href="tel:89648999119" class="footer-contact__contact footer-contact__contact--phone" title="8 (964) 89 99 119">8 (964) 89 99 119</a>
            </li>
            <li>
                <a href="#" class="footer-contact__contact footer-contact__contact--insta" title="Instagram">Instagram</a>
            </li>
            <li>
                <a href="mailto:mebel_loft_anapa@mail.ru" class=" footer-contact__contact footer-contact__contact--email" title="mebel_loft_anapa@mail.ru">mebel_loft_anapa@mail.ru</a>
            </li>
        </ul>
    </div>
</div>