<div class="header-top__wrapper">
    <div class="header-top__item">
        <a href="{{store direct_url=''}}" class="header-top__link home" title="Главная">Главная</a>
        <a href="#" class="header-top__link about" title="О нас">О нас</a>
        <a href="#" class="header-top__link contacts" title="Контакты">Контакты</a>
    </div>
    <div class="header-top__item">
        <a href="tel:89648999119" class="header-top__link header-top__link--phone" title="8 (964) 89 99 119">8 (964) 89 99 119</a>
        <a href="#" class="header-top__link header-top__link--delivery" title="Доставка">Доставка</a>
    </div>
</div>