<div class="nav-mobile__wrapper">
    <ul class="nav-mobile__list">
        <li class="nav-mobile__item">
            <a href="{{store direct_url='promotions.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon discount"></span>
                <span class="nav-mobile__category">Акция</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='sale/novinki.htm'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon novelty"></span>
                <span class="nav-mobile__category">Новинки</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='what-is-new.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon kitchen"></span>
                <span class="nav-mobile__category">Кухни</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='women.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon bedrooms"></span>
                <span class="nav-mobile__category">Спальни</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='men.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon living-rooms"></span>
                <span class="nav-mobile__category">Гостинные</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='gear.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon hallways"></span>
                <span class="nav-mobile__category">Прихожие</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='collections.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon office-furniture"></span>
                <span class="nav-mobile__category">Офисная мебель</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='training.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon children"></span>
                <span class="nav-mobile__category">Детская</span>
            </a>
        </li>
        <li class="nav-mobile__item">
            <a href="{{store direct_url='sale.html'}}" class="nav-mobile__link">
                <span class="nav-mobile__icon etc"></span>
                <span class="nav-mobile__category">Еще</span>
            </a>
        </li>
    </ul>
</div>