/*
 * Absolute Web Intellectual Property
 *
 * @copyright    Copyright (c) 1999-2021 Absolute Web, Inc. (http://www.absoluteweb.com)
 * @author       Absolute Web
 * @license      http://www.absoluteweb.com/license-agreement/  Single domain license
 * @terms of use http://www.absoluteweb.com/terms-of-use/
 */

& when (@media-common = true) {
    [class^='fontello-icon-']:before,
    [class*='fontello-icon-']:before {
        display: inline-block;
        font-family: @fontello-icons__font-name;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 1em;
        margin-left: .2em;
        margin-right: .2em;
        min-width: 1em;
        speak: none;
        text-align: center;
        text-decoration: inherit;
        text-transform: none;
    }
}
