@about-info__color: #f4f4f4;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .about-info {
        .lib-css(gap, @indent__l @indent__xl );
        display: grid;
        padding-bottom: 70px;
        padding-top: 70px;

        &__item {
            .lib-css(padding, @indent__m);
            background-color: @about-info__color;
            position: relative;

            &:before {
                .lib-css(background-color, @color-white);
                border-radius: 50%;
                content: '';
                height: 46px;
                left: 0;
                position: absolute;
                top: 0;
                transform: translate(-50%, -50%);
                width: 46px;
            }

            &:after {
                left: 0;
                position: absolute;
                top: 0;
                transform: translate(-50%, -50%);
            }

            &--coop {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-coop,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font-color: @color-black,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }

            &--delivery-box {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-delivery-box,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font-color: @color-black,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }

            &--support {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-support,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font-color: @color-black,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }

            &--re {
                .lib-icon-font(
                    @_icon-font-content: @fontello-icon-re,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 18px,
                    @_icon-font-color: @color-black,
                    @_icon-font: @fontello-icons__font-name,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
            }
        }

        &__title {
            .lib-font-size(18);
            .lib-line-height(22);
            .lib-css(margin-bottom, @indent__s);
        }

        &__description {
            .lib-font-size(14);
            .lib-line-height(20);
            margin-bottom: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .about-info {
        .lib-css(padding-bottom, @indent__l);
        .lib-css(padding-top, @indent__l);
        grid-template-columns: 1fr;

        &__title {
            .lib-font-size(14);
            .lib-line-height(17);
            .lib-css(margin-bottom, @indent__xs);
        }

        &__description {
            .lib-font-size(12);
            .lib-line-height(17);
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .about-info {
        grid-template-columns: 1fr 1fr;
    }
}