@about-us__background: #d7e8ed;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .about-us {
        display: flex;

        &__inner {
            .lib-css(max-width, @layout__max-width);
            .lib-css(padding-left, @layout-indent__width);
            .lib-css(padding-right, @layout-indent__width);
            margin-left: auto;
            margin-right: auto;
        }

        &__content {
            max-width: 425px;
            padding-bottom: 100px;
            padding-top: 100px;
            width: 100%;
        }

        &__subtitle {
            .lib-font-size(12);
            .lib-line-height(14);
            .lib-css(color, @color-dark-green1);
            letter-spacing: .08em;
            margin-bottom: 15px;
        }

        &__title {
            .lib-font-size(24);
            .lib-line-height(28);
            margin-bottom: 15px;
        }

        &__description {
            .lib-font-size(14);
            .lib-line-height(20);
            .lib-css(color, @color-gray34);
            .lib-css(margin-bottom, @indent__base);

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__image-wrapper {
            flex-grow: 1;
            overflow: hidden;
            position: relative;

            &:before {
                background-color: @about-us__background;
                content: '';
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }
        }

        &__image {
            display: block;
            position: absolute;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .about-us {
        flex-wrap: wrap;

        &__inner {
            .lib-css(padding-left, @layout__width-xs-indent);
            .lib-css(padding-right, @layout__width-xs-indent);

            &--padding-large {
                .lib-css(padding-left, @layout-indent__width);
                .lib-css(padding-right, @layout-indent__width);
            }
        }

        &__content {
            .lib-css(padding, @indent__m @layout__width-xs-indent 15px);
        }

        &__image-wrapper {
            height: 150px;
            order: -1;
            width: 100%;

            &:before {
                left: 100px;
            }
        }

        &__image {
            height: 130px;
            top: 20px;
        }

        &__title {
            .lib-font-size(18);
            .lib-line-height(22);
            .lib-css(margin-bottom, @indent__s);
        }

        &__subtitle {
            .lib-font-size(10);
            .lib-line-height(12);
            .lib-css(margin-bottom, @indent__s);
        }

        &__description {
            .lib-font-size(12);
            .lib-line-height(17);
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .about-us {
        &__content {
            .lib-css(padding-left, @layout-indent__width);
            .lib-css(padding-right, @layout-indent__width);
        }

        &__image {
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .about-us {
        &__content {
            padding-right: 0;
        }

        &__image-wrapper {
            &:before {
                left: 300px;
            }
        }

        &__image {
            left: 20px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .about-us {
        &__content {
            margin-left: ~'calc(((100% - (@{layout__max-width} - (@{layout-indent__width} * 2))) / 2) + 100px)';
        }

        &__image-wrapper {
            &:before {
                left: 350px;
            }
        }

        &__image {
            left: 60px;
        }
    }
}