//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .dignity {
        margin-left: auto;
        margin-right: auto;
        max-width: 550px;

        &__wrapper {
            .lib-css(padding, 80px @layout-indent__width);
            background-color: @about-us__background;
        }

        &__item {
            margin-bottom: 65px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__title {
            .lib-font-size(18);
            .lib-line-height(22);
            margin-bottom: 15px;
            padding-bottom: 15px;
            position: relative;
            text-align: center;

            &:before {
                .lib-css(background-color, @color-dark-green1);
                bottom: 0;
                content: '';
                height: 1px;
                left: 50%;
                position: absolute;
                transform: translate(-50%, 0);
                width: 50px;
            }
        }

        &__description {
            .lib-font-size(14);
            .lib-line-height(20);
            padding-bottom: 0;
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .dignity {
        &__wrapper {
            .lib-css(padding, 50px @layout__width-xs-indent);
        }

        &__item {
            .lib-css(margin-bottom, @indent__l);
        }

        &__subtitle {
            .lib-font-size(14);
            .lib-line-height(17);
        }

        &__description {
            .lib-font-size(12);
            .lib-line-height(17);
        }
    }
}