
/*
 * @copyright    Copyright (c) 2021.
 */

@home-slider__shadow: 0 5px 11px 2px rgba(0, 0, 0, .09);
@slider-button__shadow: 0 2px 4px rgba(0, 0, 0, .07);
@slider-button__hover__shadow: 0 2px 4px rgba(0, 0, 0, .20);
@slider-content__background: #f4f4f4;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .home-slider {
        .lib-css(margin-bottom, @indent__l);

        &__wrap {
            position: relative;
        }

        &__item {
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__title {
            .lib-css(font-weight, @font-weight__bold);
            font-family: @font-family__additional;
            text-transform: uppercase;
        }

        &__subtitle {
            .lib-font-size(16);
            .lib-line-height(24);
        }

        &__link-as-button {
            .lib-button();
            .lib-font-size(12);
            .lib-line-height(18);
            .lib-css(background-color, @color-white);
            .lib-css(color, @color-black_dark);
            .lib-css(border-color, @color-white);
            box-shadow: @slider-button__shadow;
            font-family: @font-family__secondary;
            text-transform: uppercase;
            transition: .7s;

            &:hover {
                .lib-css(background-color, @color-very-dark-gray);
                .lib-css(border-color, @color-very-dark-gray);
                .lib-css(color, @color-white);
                box-shadow: @slider-button__hover__shadow;
            }
        }

        &__paragraph {
            display: block;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .home-slider {
        .lib-css(margin-bottom, @indent__base);

        &__item {
            height: 126px;
        }

        &__content {
            background-color: @slider-content__background;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 15px;
            width: 50%;
        }

        &__title {
            .lib-font-size(16);
            .lib-line-height(18);
            .lib-css(font-family, @font-family__base);
            .lib-css(font-weight, @font-weight__heavy);
            .lib-css(margin-bottom, @indent__xs);
            text-transform: none;
        }

        &__subtitle {
            .lib-font-size(10);
            .lib-line-height(14);
            margin-bottom: 0;
        }

        &__link-as-button {
            display: none;
        }

        &__paragraph {
            display: inline-block;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .home-slider {
        box-shadow: @home-slider__shadow;

        &__item {
            .lib-css(padding, 65px @indent__xl);
            height: 250px;
        }

        &__subtitle {
            display: none;
        }

        &__title {
            .lib-font-size(24);
            .lib-line-height(30);
            margin-bottom: 15px;

            &--white {
                .lib-css(color, @color-white);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__tablet) {
    .home-slider {
        &__item {
            height: 450px;
            padding: 100px 120px;
        }

        &__subtitle {
            .lib-css(margin-bottom, @indent__base);
            display: block;
        }

        &__title {
            .lib-font-size(50);
            .lib-line-height(60);
        }
    }
}