@our-halp-icon__color: #48cc65;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .our-help {
        display: flex;
        justify-content: space-between;

        &__wrapper {
            .lib-css(padding-top, @indent__l);
            padding-bottom: 100px;
        }

        &__item {
            .lib-icon-font(
                @_icon-font-content: @fontello-icon-round-check,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_icon-font-color: @our-halp-icon__color,
                @_icon-font: @fontello-icons__font-name,
                @_icon-font-position: before,
                @_icon-font-display: block
            );
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 330px;
            padding-left: 50px;
            position: relative;
            width: 100%;

            &:before {
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        &__title {
            .lib-font-size(24);
            .lib-line-height(28);
            margin-bottom: 70px;
            text-align: center;
        }

        &__subtitle {
            .lib-font-size(14);
            .lib-line-height(20);
            .lib-css(font-weight, @font-weight__semibold);
            margin-bottom: 0;
        }

        &__description {
            .lib-font-size(14);
            .lib-line-height(20);
            margin-bottom: 0;
        }

        &__info {
            .lib-font-size(24);
            .lib-line-height(28);
            margin-bottom: 100px;
            margin-top: 100px;
            text-align: center;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .our-help {
        flex-direction: column;

        &__wrapper {
            .lib-css(padding-bottom, @indent__base);
            .lib-css(padding-top, @indent__base);
        }

        &__item {
            .lib-css(margin-bottom, @indent__base);
            .lib-css(padding-left, @indent__l);

            &:last-child {
                margin-right: 0;
            }

            &:before {
                .lib-font-size(16);
                .lib-line-height(16);
            }
        }

        &__title {
            .lib-font-size(18);
            .lib-line-height(22);
            .lib-css(margin-bottom, @indent__xl);
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 225px;
        }

        &__subtitle {
            .lib-font-size(12);
            .lib-line-height(17);
        }

        &__description {
            .lib-font-size(12);
            .lib-line-height(17);
        }

        &__info {
            .lib-font-size(18);
            .lib-line-height(25);
            .lib-css(margin, 80px auto @indent__xl);
            display: block;
            max-width: 220px;
            width: 100%;
        }
    }
}

//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .our-help {
        &__item {
            .lib-css(margin-right, @indent__base);

            &:last-child {
                margin-right: 0;
            }
        }
    }
}