//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .profit {
        display: grid;
        gap: 64px 80px;
        grid-template-columns: 1fr 1fr;

        &__wrapper {
            padding-bottom: 100px;
            padding-top: 100px;
        }

        &__item {
            display: grid;
            grid-template-columns: 68px 1fr;
        }

        &__content {
            .lib-css(padding-left, @indent__l);
        }

        &__title {
            .lib-font-size(24);
            .lib-line-height(28);
            margin-bottom: 95px;
            text-align: center;
        }

        &__subtitle {
            .lib-font-size(18);
            .lib-line-height(22);
            .lib-css(margin-bottom, @indent__s);
        }

        &__description {
            .lib-font-size(14);
            .lib-line-height(20);
            padding-bottom: 0;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .profit {
        .lib-css(gap, @indent__m);
        grid-template-columns: 1fr;

        &__wrapper {
            .lib-css(padding-bottom, @indent__xl);
            padding-top: 15px;
        }

        &__item {
            grid-template-columns: 38px 1fr;
        }

        &__content {
            padding-left: 15px;
        }

        &__title {
            .lib-font-size(18);
            .lib-line-height(22);
            .lib-css(margin-bottom, @indent__l);
        }

        &__subtitle {
            .lib-font-size(14);
            .lib-line-height(17);
            .lib-css(margin-bottom, @indent__xs);
        }

        &__description {
            .lib-font-size(12);
            .lib-line-height(17);
            padding-bottom: 0;
        }
    }
}