/*
 * @copyright    Copyright (c) 2021.
 */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .contact-map {
        .lib-css(margin-bottom, @indent__l);

        &__title {
            .lib-font-size(16);
            .lib-line-height(20);
            .lib-css(margin-bottom, @indent__l);
        }

        &__inner {
            height: 400px;
        }

        &__iframe {
            .lib-css(border, 1px solid @color-gray-light1);
            height: 100%;
            width: 100%;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-map {
        margin-bottom: 0;

        &__title {
            .lib-css(margin-bottom, @indent__base);
        }

        &__inner {
            height: 250px;
        }
    }
}